<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href=https://s3.ax1x.com/2020/12/31/rvK3o4.png type=image/x-icon>
    <link rel=icon href=https://s3.ax1x.com/2020/12/31/rvK3o4.png type=image/x-icon>
    <title>xWash</title>
    <link href="{{ url_for('static', filename='css/app.786e93fd04151e47811cfa7d293e4e08.css') }}" rel="stylesheet">
</head>
<body>
<div id=app></div>
<script type=text/javascript src="{{ url_for('static', filename='js/manifest.3ad1d5771e9b13dbdad2.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/vendor.d8e6914fbff4d861ac2e.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/app.72c7ff7e2d35579a699b.js') }}"></script>
</body>
</html>